@keyframes button-hover-in {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(120%);
    }
}

@keyframes button-hover-out {
    0% {
        filter: brightness(120%);
    }
    100% {
        filter: brightness(100%);
    }
}

@keyframes checkbox-menu-in {
    0% {
        width: 0;
    }
    100% {
        width: calc(40px + 1.5rem);
    }
}

@keyframes checkbox-menu-out {
    0% {
        width: calc(40px + 1.5rem);
    }
    100% {
        width: 0;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}