#homepage-main {
    background-color: var(--secondary-bg-color);
}

.homepage-heading {
    background: var(--secondary-bg-color);
    padding: 39px 34px;
}

#restaurant-place-form {
    box-shadow: 0px 4px 4px 0px var(--main-shadow-color);
    background: var(--third-bg-color);
    position: relative;
    z-index: 1;
}

#restaurant-place-button {
    padding: 17px 0;
    width: 100%;
}

.homepage-section {
    padding: 46px 20px;
}

#functionning-section {
    background-color: var(--main-bg-color);
}

.functionning-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-left: 12px;
    counter-reset: item;
    list-style-type: none;

    li::before {
        content: counter(item);
        counter-increment: item;
        
        background-color: var(--fifth-bg-color);
        border-radius: 1em;
        text-align: center;
        font-size: 0.875rem;
        align-content: center;
        padding: 0.35em 0.6em;
        color: var(--secondary-font-color);
        position: relative;
        right: 0.8em;
    }

    li {
        display: flex;
        align-items: center;
        background: var(--secondary-bg-color);
        flex: 1 0 auto;

        box-shadow: 0px 4px 15px 0px var(--main-shadow-color);
        padding: 26px 0;
        border-radius: 20px;

        .fa-solid {
            flex: 0 1 2.5rem;
            font-size: 1.2rem;
            margin-left: 0.5rem;
        }
    }
}

#restaurant-section .flex-container {
    column-gap: var(--cards-gap);
    row-gap: calc(var(--cards-gap) / 2)
}