@media screen and (min-width: 1440px) {
    // Responsive design for common components
    .page-title {
        font-size: 2.5rem;
    }

    #restaurant-section .flex-container {
        .article-card {
            flex: 0 1 calc(50% - var(--cards-gap) / 2);
        }
    }

    // Responsive design for homepage components
    .functionning-list {
        flex-direction: row;
        column-gap: 36.5px;
    }
}