@media screen and (min-width: 1024px) {
    :root {
        --cards-gap: 100px;
    }
    /** Responsive design for generic style **/
    .mob-col-desktop-row {
        flex-direction: row;
    }
    .content-wrapper {
        max-width: 1024px;
    }

    /** Responsive design for common components **/
    .page-title {
        font-size: 2.5rem;
    }

    .page-footer {
        padding-top: 3.5625rem;
        justify-content: flex-end;
        align-items: center;
        column-gap: 2.5rem;

        .footer-logo {
            order: 1;
        }
    }

    /** Responsive design for homepage components **/
    .functionning-list {
        column-gap: 2.2813rem;
    }

    .restaurant-main {
        padding-top: 303px;
    }

    .restaurant-picture {
        max-height: 343px;
    }

    .restaurant-menu-header {
        justify-content: center;
        .restaurant-menu-title {
            margin-right: 24px;
        }
    }
}

@media screen and (min-width: 768px) {
    #restaurant-section .flex-container {
        gap: calc(var(--cards-gap) / 2) var(--cards-gap);
        
        .article-card {
            flex: 0 1 calc(50% - var(--cards-gap) / 2);
        }
    }
}