:root {
    /** ---------- Color Variables ---------- **/

    /** Background **/
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #F6F6F6;
    --third-bg-color: #EAEAEA;
    --fourth-bg-color: #353535;
    --fifth-bg-color: #9356DC;
    --fifth-grad1-bg-color: var(--fifth-bg-color);
    --fifth-grad2-bg-color: #FF79DA;
    --sixth-bg-color: #99E2D0;

    /** Shadows **/
    --main-shadow-color: #00000026;

    /** Fonts **/
    --main-font-color: #000000;
    --secondary-font-color: #FFFFFF;
    --third-font-color: #7E7E7E;
    --fourth-font-color: #101010;
    --fifth-font-color: #008766;
    
    /** Gradient **/
    --main-button-color: linear-gradient(0, var(--fifth-grad1-bg-color) -11.44%, var(--fifth-grad2-bg-color) 123.93%);
    --secondary-button-color: linear-gradient(193.33deg, var(--fifth-grad1-bg-color) -11.44%, var(--fifth-grad2-bg-color) 123.93%);

    /** Spacing **/
    --cards-gap: 100px;
}