.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.txt-center {
    text-align: center;
}

.omf-button {
    border-radius: 25px;
    background: var(--main-button-color);
    padding: 13px 16px;
    color: var(--secondary-font-color);
    font-size: 16px;
    font-weight: 500;
}