@import "./variables.scss";
@import "./mixin.scss";
@import "./keyframes.scss";
@import "./common.scss";
@import "./homepage.scss";
@import "./restaurant";
@import "./media.scss";

/** Removing/changing base style **/
body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif
}

button {
    font-family: inherit;
    outline: none;
    border: none;
    background: none;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}