:root {
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #F6F6F6;
    --third-bg-color: #EAEAEA;
    --fourth-bg-color: #353535;
    --fifth-bg-color: #9356DC;

    --main-shadow-color: #00000026;

    --main-font-color: #000000;
    --secondary-font-color: #FFFFFF;
    --third-font-color: #7E7E7E;
    --fourth-font-color: #101010;
    
    --main-button-color: linear-gradient(0, var(--fifth-bg-color) -11.44%, #FF79DA 123.93%);
    --main-button-hover-color: linear-gradient(0, var(--fifth-bg-color) -5.2%, #FF79DA 110.74%);

    --secondary-button-color: linear-gradient(193.33deg, var(--fifth-bg-color) -11.44%, #FF79DA 123.93%);
}