:root {
  /** ---------- Color Variables ---------- **/
  /** Background **/
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #F6F6F6;
  --third-bg-color: #EAEAEA;
  --fourth-bg-color: #353535;
  --fifth-bg-color: #9356DC;
  --fifth-grad1-bg-color: #9356DC;
  --fifth-grad2-bg-color: #ffb9eb;
  --sixth-bg-color: #99E2D0;
  /** Shadows **/
  --main-shadow-color: #00000026;
  /** Fonts **/
  --main-font-color: #000000;
  --secondary-font-color: #FFFFFF;
  --third-font-color: #7E7E7E;
  --fourth-font-color: #101010;
  --fifth-font-color: #008766;
  /** Gradient **/
  --main-button-color: linear-gradient(0, var(--fifth-grad1-bg-color) -11.44%, var(--fifth-grad2-bg-color) 123.93%);
  --secondary-button-color: linear-gradient(180deg, transparent 0, var(--fifth-grad1-bg-color) 40%, var(--fifth-grad2-bg-color) 120%);
  /** Spacing **/
  --cards-gap: 18px;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes stair-animation-key {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/** ----------------------------------------------- **/
/** ---------------- Generic Style ---------------- **/
/** ----------------------------------------------- **/
/** Generic Classes **/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: initial;
}

.content-wrapper {
  max-width: 800px;
  margin: auto;
}

.mob-col-desktop-row {
  flex-direction: column;
}

button:hover, input[type=checkbox]:hover {
  cursor: pointer;
}

/** Generic Components **/
.omf-button {
  border-radius: 1.5625em;
  background: var(--main-button-color);
  padding: 13px 18.75px;
  color: var(--secondary-font-color);
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  align-self: center;
  box-shadow: 0 0.25em 0.25em 0 var(--main-shadow-color);
  transition: filter 0.3s;
}
.omf-button:hover {
  filter: brightness(120%);
}

/** Page loader class **/
.loader-container {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: loader-fade-out 1s 1.5s linear forwards;
}
.loader-container .fa-circle-notch {
  animation: loader-spin 1s 3 linear;
}
.loader-container span {
  font-size: 1.25rem;
  margin-left: 16px;
}

/** ------------------------------------------------------------ **/
/** ---------------- Page Main Components Style ---------------- **/
/** ------------------------------------------------------------ **/
.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 4px 0 var(--main-shadow-color);
  z-index: 2;
}
.page-header-logo {
  margin: 14px 0;
}

.header-go-back-button {
  position: absolute;
  left: 23px;
}

.page-footer {
  background-color: var(--fourth-bg-color);
  display: flex;
  flex-direction: column;
  color: var(--secondary-font-color);
  padding: 22px 25px;
}
.page-footer .footer-logo {
  filter: brightness(100);
  margin-bottom: 16px;
  width: 6.25rem;
}
.page-footer .footer-link {
  font-weight: 400;
  margin-bottom: 7px;
}
.page-footer .footer-link.footer-link-with-logo {
  font-weight: 500;
}
.page-footer .footer-link .fa-icon {
  font-size: 0.8125rem;
  margin-right: 8px;
  color: var(--secondary-font-color);
}
.page-footer .footer-nav {
  display: flex;
  column-gap: 11px;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.page-subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 27px;
}

/** ----------------------------------------------------- **/
/** ---------------- Section/Cards Style ---------------- **/
/** ----------------------------------------------------- **/
/** Section Components **/
.section-title {
  margin-bottom: 1.625rem;
}

/** Card Components **/
.article-card {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  justify-content: initial;
  align-items: initial;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  overflow: hidden;
}
.article-card .card-picture {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.article-card .card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 13px;
}
.article-card .card-details .card-info {
  flex: 1 1 auto;
  min-width: 0;
}
.article-card .card-details .card-info h3, .article-card .card-details .card-info p {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-card .card-title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.125rem;
}
.article-card .card-subtitle {
  font-weight: 300;
}
.article-card .card-link {
  position: relative;
}
.article-card .card-new-label {
  background-color: var(--sixth-bg-color);
  color: var(--fifth-font-color);
  position: absolute;
  border-radius: 0.125em;
  right: 13px;
  top: 13px;
  padding: 7px 9px;
}

.article-card-row {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  overflow: hidden;
}
.article-card-row p {
  font-size: 0.9375rem;
}
.article-card-row .card-info {
  width: 100%;
}
.article-card-row .card-info h3, .article-card-row .card-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  min-width: 0;
  max-width: 100%;
}
.article-card-row .card-details {
  display: inline-flex;
  padding: 16px 13px;
  min-width: 0;
}
.article-card-row .card-price-check {
  display: flex;
}
.article-card-row .card-price-check .card-price {
  margin: auto 16px 13px 0;
}
.article-card-row .card-checked {
  display: inherit;
  width: 0;
  align-items: center;
  background: var(--sixth-bg-color);
  transition: width 0.25s;
}
.article-card-row .card-checked .fa-solid {
  margin: 0 20px;
  color: var(--secondary-font-color);
}
.article-card-row:hover .card-checked {
  width: calc(40px + 1.5rem);
}

.card-like-button {
  display: flex;
  align-items: center;
  font-size: 1.375rem;
  color: var(--fourth-font-color);
  appearance: none;
}
.card-like-button::before, .card-like-button::after {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
}
.card-like-button::after {
  position: absolute;
  color: transparent;
  background-image: var(--secondary-button-color);
  background-clip: text;
  font-weight: bold;
  background-position: 100% 20px;
  background-size: 100% 250%;
  background-repeat: no-repeat;
  transition: background-position 0.5s;
}
.card-like-button:hover::after {
  background-position: 100% 80%;
}

#homepage-main {
  background-color: var(--secondary-bg-color);
}

.homepage-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--secondary-bg-color);
  padding: 39px 34px;
}

#restaurant-place-form {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px var(--main-shadow-color);
  background: var(--third-bg-color);
  position: relative;
  z-index: 1;
}

#restaurant-place-button {
  padding: 17px 0;
  width: 100%;
}

.homepage-section {
  padding: 46px 20px;
}

#functionning-section {
  background-color: var(--main-bg-color);
}

.functionning-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-left: 12px;
  counter-reset: item;
  list-style-type: none;
}
.functionning-list li::before {
  content: counter(item);
  counter-increment: item;
  background-color: var(--fifth-bg-color);
  border-radius: 1em;
  text-align: center;
  font-size: 0.875rem;
  align-content: center;
  padding: 0.35em 0.6em;
  color: var(--secondary-font-color);
  position: relative;
  right: 0.8em;
}
.functionning-list li {
  display: flex;
  align-items: center;
  background: var(--secondary-bg-color);
  flex: 1 0 auto;
  box-shadow: 0px 4px 15px 0px var(--main-shadow-color);
  padding: 26px 0;
  border-radius: 20px;
}
.functionning-list li .fa-solid {
  flex: 0 1 2.5rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--third-font-color);
  transition: color 0.3s;
}
.functionning-list li:hover .fa-solid {
  color: var(--fifth-bg-color);
}

#restaurant-section .flex-container {
  row-gap: var(--cards-gap);
}

.restaurant-main {
  padding-top: 50%;
  position: relative;
}

.restaurant-picture {
  position: absolute;
  object-fit: cover;
  object-position: 0 60%;
  top: 0;
  z-index: -1;
  width: 100%;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  justify-content: initial;
  align-items: initial;
  border-radius: 50px 50px 0 0;
  row-gap: 40px;
  background-color: var(--secondary-bg-color);
  padding: 32px 13px;
  align-items: center;
}
.restaurant-menu-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}
.restaurant-menu-header {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  justify-content: space-between;
  align-items: initial;
  width: min(635px, 100%);
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  width: min(635px, 100%);
}
.restaurant-section .article-card-row {
  opacity: 0;
  transform: translateX(100%);
}
.restaurant-section .article-card-row:nth-of-type(1) {
  animation: stair-animation-key 0.7s 0.1s ease-out forwards;
}
.restaurant-section .article-card-row {
  opacity: 0;
  transform: translateX(100%);
}
.restaurant-section .article-card-row:nth-of-type(2) {
  animation: stair-animation-key 0.7s 0.2s ease-out forwards;
}
.restaurant-section .article-card-row {
  opacity: 0;
  transform: translateX(100%);
}
.restaurant-section .article-card-row:nth-of-type(3) {
  animation: stair-animation-key 0.7s 0.3s ease-out forwards;
}
.restaurant-section .article-card-row {
  opacity: 0;
  transform: translateX(100%);
}
.restaurant-section .article-card-row:nth-of-type(4) {
  animation: stair-animation-key 0.7s 0.4s ease-out forwards;
}
.restaurant-section .article-card-row {
  opacity: 0;
  transform: translateX(100%);
}
.restaurant-section .article-card-row:nth-of-type(5) {
  animation: stair-animation-key 0.7s 0.5s ease-out forwards;
}
.restaurant-section-title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.restaurant-section-line {
  border: 2px solid var(--sixth-bg-color);
  max-width: 40px;
  margin-top: 2px;
}
.restaurant-section .article-card-row {
  margin-top: 12px;
}

#restaurant-submit-btn {
  padding: 16px 50px;
}

@media screen and (min-width: 1024px) {
  :root {
    --cards-gap: 100px;
  }
  /** Responsive design for generic style **/
  .mob-col-desktop-row {
    flex-direction: row;
  }
  .content-wrapper {
    max-width: 1024px;
  }
  /** Responsive design for common components **/
  .page-title {
    font-size: 2.5rem;
  }
  .page-footer {
    padding-top: 3.5625rem;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2.5rem;
  }
  .page-footer .footer-logo {
    order: 1;
  }
  /** Responsive design for homepage components **/
  .functionning-list {
    column-gap: 2.2813rem;
  }
  .restaurant-main {
    padding-top: 303px;
  }
  .restaurant-picture {
    max-height: 343px;
  }
  .restaurant-menu-header {
    justify-content: center;
  }
  .restaurant-menu-header .restaurant-menu-title {
    margin-right: 24px;
  }
}
@media screen and (min-width: 768px) {
  #restaurant-section .flex-container {
    gap: calc(var(--cards-gap) / 2) var(--cards-gap);
  }
  #restaurant-section .flex-container .article-card {
    flex: 0 1 calc(50% - var(--cards-gap) / 2);
  }
}
/** Removing/changing base style **/
body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

/*# sourceMappingURL=style.css.map */
